.text-right{
    text-align: right !important;
}

.middle-xs{
    align-items: center;
}
.d-flex{
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}

.mt-1{
    margin-top: 0.3em;
}

.mt-2{
    margin-top: 0.6em;
}

.mt-3{
    margin-top: 1.2em;
}

.mt-4{
    margin-top: 2.4em;
}